html,
body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: $primary-heading-size;
  font-weight: 500;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: $secondary-heading-size;
  font-weight: 400;
}
p {
  font-weight: 500;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  margin-top: 0px;
}
small {
  font-size: 12px;
}
