.section {
  padding: 60px 0px;
}
.panel {
  background-color: $white-color;
  padding: 20px;
  border: 1px solid #eeeeee;
  box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 20px;
}

.a-step-container {
  padding: 20px;
}

.rdt_TableHeader {
  display: none;
}

.paperDropzone {
  background-color: $light-background;
  border: 1px solid $border-color;
  padding: 20px;
}

.elevated {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.paper {
  background: $white-color;
  padding: 40px;
  margin-bottom: 10px;
}

.full-height-page {
  height: 100vh;
  min-height: 768px;
}

.hero-unit {
  height: 100vh;
  min-height: 600px;
}

.app-container {
  height: auto;
}

.application-wrapper {
  min-height: 100vh;
}

.step-progress-bar {
  display: flex;
}
.step-navigator {
  padding: 3px;
}
